.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.middleLogo img{
    height: 40%;
    width: 25%;
}
.right ul{
display:flex;
flex-direction: row;
gap:20px
}
.right ul li{
    list-style-type: none;
}